{% extends 'alum_message/base.html' %}

{% block content %}

  <h2 class=>About the project</h2>
  <div class='row'>
    <div class='col-sm-12'>
      <p>This project was created as part of the application process for a full-time position in the
        Teaching and Learning group at University of Michigan Information and Technology Services.</p>

      <p>I would like to acknowledge my indebtedness to my former instructor, Anthony Whyte, who provided extensive
      guidance, resources, and starter code during Fall 2018 as part of UMSI 664: Database Application Design. In
      particular, his assignments and documentation supplied jumping off points for using Bootstrap/CSS, django_filters, and
        crispy_forms. The resources he created are available in a public
        <a href="https://github.com/arwhyte/SI664-docs">GitHub repository</a>.</p>

      <p>If I had additional time, I would have attempted to fully implement authentication/authorization, likely by
        extending the User model to encompass the Alum model (following one of the strategies identified in the
        <a href="https://docs.djangoproject.com/en/2.2/topics/auth/customizing/#extending-the-existing-user-model">Django documentation</a>).
      </p>
    </div>
  </div>

{% endblock content %}
